#recordingControls
  <button onclick="startRecording(this);">record</button>
  <button onclick="stopRecording(this);" disabled>stop</button>
  

%h2 Log
%pre{:id => 'log'}

%h2 Recordings
%ul{:id => 'recordingslist'}
