- @languages.each do |language|
  - unless language.lessons.empty?
    %h4= language.name
    %ul
      - language.lessons.each do |lesson|
        %li= link_to lesson.name, "/backbone#lessons/#{lesson.id}/attempt"
