= image_tag 'cthulthu2.jpg', :style => 'margin: 10px; float: left'
%h3
  Now you've done it. Answer all questions correctly or forfeit your soul.

=button_to "Proceed against all good judgement", lti_start_lesson_attempt_path(@lesson), :class => 'btn btn-danger'
