#vontents
  margin: 0 auto

#elements-region
  @extend .col-xs-4

.lesson_element
  background-color: #eee
  margin-bottom: 5px
  padding: 5px 5px 10px 15px

.PromptedAudioQuestion
  background-color: #6699FF
  color: #000402
  border: 5px solid #C5CEE0
  #element-title
    //@extend .col-xs-9
    background-color: #C5CEE0
    padding: 0px 0 0 4px
    width: 60%
      
  #element-content    
    // @extend .col-xs-11
    margin-top: 10px
      
.ContentBlock
  background-color: #00CC66
  color: #000402
  border: 5px solid #70B894

.content
  margin-bottom: 15px

.buttons
  margin-top: 15px

h1
  font-family: "chaparral-pro",sans-serif

h2
  font-family: "chaparral-pro",sans-serif

h4
  font-family: "chaparral-pro",sans-serif
