@import "bootstrap"
//@import 'jquery.notebook'
//@import fontawesome/*

.voffset
  margin-top: 2px
.voffset1
  margin-top: 5px
.voffset2
  margin-top: 10px
.voffset3
  margin-top: 15px
.voffset4
  margin-top: 30px
.voffset5
  margin-top: 40px
.voffset6
  margin-top: 60px
.voffset7
  margin-top: 80px
.voffset8
  margin-top: 100px
.voffset9
  margin-top: 150px
  
#vontents
  margin: 0 auto

#elements-region
  @extend .col-xs-6

.lesson_element
  background-color: #eee
  padding: 5px 5px 10px 15px
  border: 1px solid orange
    
.PromptedAudioQuestion
  background-color: #6699FF
  color: #000402
  border: 5px solid #C5CEE0

  .element-title
    background-color: #C5CEE0
    padding: 0px 0 0 4px
    font-size: 120%
    margin: 0 0 5px 10px
    float: left

  #element-content    
    margin-top: 10px
  #waveform
    margin: 10px 0 10px 0
      
.ContentBlock
  background-color: #00CC66
  color: #000402
  border: 5px solid #70B894

.content
  margin-bottom: 15px

.buttons
  margin: 15px 0 10px 0

h1
  font-family: "chaparral-pro",sans-serif

h2
  font-family: "chaparral-pro",sans-serif

h4
  font-family: "chaparral-pro",sans-serif

#arrangement-region
  @extend .col-md-5
  border: 5px solid grey
  height: 500px
    
#editing-region    
  @extend .col-md-5

#palette-region
  @extend .col-md-2
  
.palette-item
  border: 3px solid #AAA
  background-color: #BBB
  margin-bottom: 5px
  padding: 3px

.recording
  background-color: red

#recordings-list
  margin: 10px 0 0 0
  padding: 0
  list-style-type: none

  li
    list-style-type: none
    margin: 0
    padding: 0

#context-region
  @extend .col-lg-1

#info-region
  @extend .col-lg-9

#question-attempts-region
  @extend .col-lg-12
  
#question-attempt-layout-region
  @extend .col-lg-12

#question-attempt-region
  @extend .col-lg-6

#responses-region
  @extend .col-lg-6
  

#questions-list
  list-style-type: none
  text-align: center
  overflow-x:scroll
  white-space:nowrap
    
  li
    float: left
    //display: inline     
    margin-right: 20px
    background-color: #898989
    padding: 20px
    border: 5px solid black
    border-radius: 6px

  .responded
    background-color: orange
      
#question-region
  @extend .col-lg-10

.question-box
  background-color: #898989
  padding: 10px 
  //width: 30px

.responseForm
  margin-top: 10px
